[Unit]
Description=Omarchy DDC/CI Cache Timer
Requires=omarchy-ddcci-cache.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min
AccuracySec=1min

[Install]
WantedBy=timers.target