[Unit]
Description=Omarchy DDC/CI Sync Timer
Requires=omarchy-ddcci-sync.service

[Timer]
OnUnitInactiveSec=5000ms
AccuracySec=100ms

[Install]
WantedBy=timers.target