[Unit]
Description=Omarchy DDC/CI Sync
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/Work/omarchy/bin/omarchy-ddcci-sync
LogLevelMax=warning