[Unit]
Description=Omarchy DDC/CI Cache
After=graphical-session.target

[Service]
Type=oneshot
# FIXME: update the path below
ExecStart=%h/.local/share/omarchy/bin/omarchy-ddcci-cache
LogLevelMax=warning
