[Unit]
Description=Omarchy DDC/CI Sync Timer
Requires=omarchy-ddcci-sync.service

[Timer]
OnUnitActiveSec=5sec
AccuracySec=1sec

[Install]
WantedBy=timers.target